# Django settings for the project
SECRET_KEY = 'chave'
DEBUG = True
ALLOWED_HOSTS = 'localhost,127.0.0.1,0.0.0.0,10.0.0.208'

PSN_SCRAPING_API_URL = 'https://store.playstation.com/pt-br/category/3f772501-f6f8-49b7-abac-874a88ca4897'
CORS_ALLOWED_ORIGINS =  'http://10.0.0.208:8081,http://0.0.0.0:8081,http://10.0.0.208:8000,http://localhost:8000'
CORS_ALLOW_ALL_ORIGINS = True  # Apenas pra desenvolvimento


# Database
DB_ENGINE=sqlite

# PostgreSQL (use quando DB_ENGINE=postgres)
DB_NAME=psn_analytics
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60
